#root {
  /* max-width: 1280px; */
  display: flex;
  margin: 0 !important;

  flex-direction: column !important;
  gap: 1rem;
  align-items: center;
  text-align: center;
  width:100vw !important;
  height: 100vh;
}


.card {
  padding: 2rem; 
}