

.todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: max-content;
    min-width: 50vw;
    padding: 3rem;
    border: #c7c7c7 solid 1px;
    border-radius: 1rem;
}

.todo-page input {
    background-color: var(--bs-body-bg) !important;
    color: #000;

    border: 1px solid #c7c7c7;
    border-radius: .5rem;
}

.todo-page button {
    background-color: #ebebeb;
    color: #000;
    border-color: #c7c7c7;
}

.todo-page hr {
    width: 100%;
    border: 1px solid #747474;
}

.todo-page header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    min-width: 20rem;
    width: 100%;
    margin-bottom: 1rem;
}

.todo-page header>* {
    height: 3rem;
}

.todo-page header input {
    flex: 1;

    box-sizing: border-box;
    padding: .3rem;
}

/* ------------- */

.todo-page .display-buttons {
    width: 100%;
    text-align: left;
}

.todo-page .display-buttons button {
border-radius: 1rem 1rem 0 0;
margin-right: .5rem;
}

.todo-page .active-filter {
    background-color: #a7a7a7;
    
    padding-top: 1rem;
}


/* ------------- */

.todo-page ul {
    list-style: none;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 100%;
    padding: 0;
}

.todo-page .todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: .2rem;
    border: 1px solid #c7c7c7;
    border-radius: .5rem;
}

.todo-item .todoTitle {
    max-width: 10ch;
}

.todo-page .completed {
    text-decoration: line-through;
}

.todo-page .delete-button {
    background-color: transparent;

    padding: .5rem;
    border: none;
    margin-left: auto;   
}

.todo-page .clear-completed-button {
    background-color: brown;
    color: #fff;
}
